.hero-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 6rem 2rem;
  width: 80%;
  border-bottom: 2px solid #FF4F00;
  margin: 0 auto;
}
.hero-text {
  width: 600px;
  margin-right: 2rem;
}
@media screen and (max-width: 1300px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-text {
    margin-right: 0rem;
    /* Added margin to separate text from image for small screens */
    margin-bottom: 2rem;
  }
  .hero-video {
    max-width: 600px;
  }
}

